In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('fifa21_train.csv')

data

,ID,Name,Age,Nationality,Club,BP,Position,Team & Contract,Height,Weight,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",161lbs,...,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",159lbs,...,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,184431,S. Giovinco,33,Italy,Al Hilal,CAM,CAM CF,Al Hilal 2019 ~ 2022,"5'4""",134lbs,...,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,233796,J. Evans,22,Wales,Swansea City,CDM,CDM CM,Swansea City 2016 ~ 2021,"5'10""",152lbs,...,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,234799,Y. Demoncy,23,France,US Orléans Loiret Football,CDM,CDM CM,US Orléans Loiret Football 2018 ~ 2021,"5'11""",150lbs,...,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,232504,B. Böðvarsson,25,Iceland,Jagiellonia Białystok,LB,LB,Jagiellonia Białystok 2018 ~ 2021,"6'1""",168lbs,...,60+2,60+2,63+2,63+2,61+2,61+2,61+2,63+2,16+2,65
11697,214680,G. Gallon,27,France,ESTAC Troyes,GK,GK,ESTAC Troyes 2019 ~ 2022,"6'1""",174lbs,...,26+2,26+2,25+2,24+2,26+2,26+2,26+2,24+2,69+2,70
11698,221489,J. Flores,22,Chile,CD Antofagasta,RM,LM CAM RM,CD Antofagasta 2019 ~ 2024,"5'6""",143lbs,...,44+2,44+2,49+2,45+2,35+2,35+2,35+2,45+2,17+2,67
11699,146717,Anderson Silva,26,Brazil,Barnsley,CM,NaN,Barnsley 2010,"6'2""",179lbs,...,68+0,68+0,66+0,64+0,60+0,60+0,60+0,64+0,25+0,68
11700,236507,T. Conechny,22,Argentina,Portland Timbers,CAM,ST CAM LM,Portland Timbers 2019 ~ 2020,"5'7""",143lbs,...,43+2,43+2,46+2,44+2,36+2,36+2,36+2,44+2,15+2,64

In [3]:
# Main Cleaning-Function

def full_cleaning(data):

    #removing duplicates
    data = data.drop_duplicates()


    #removing some columns
    cols_for_removing = ['ID', 'Name','Club','Position','Height', 'Nationality','Contract', 'Team & Contract', 'Weight', 'foot', 'Joined', 'Loan Date End', 'Release Clause']
    data_cleaned = data.drop(cols_for_removing, axis=1)
    

    #removing NaN's
    data_cleaned = data_cleaned.dropna()


    #converting columns with currency
    def convert_currency (value):
        if 'K' in value:
            return float(value.replace('€', '').replace('K', '')) * 1000
        elif 'M' in value:
            return float(value.replace('€', '').replace('M', '')) * 1000000
        else:
            return float(value.replace('€', ''))
    
    data_cleaned['Value'] = data_cleaned['Value'].apply(convert_currency)
    data_cleaned['Wage'] = data_cleaned['Wage'].apply(convert_currency)
    data_cleaned['Hits'] = data_cleaned['Hits'].apply(convert_currency)

    #cleaning ★
    data_cleaned['W/F'].str.replace('★', '')
    data_cleaned['SM'].str.replace('★', '')
    data_cleaned['IR'].str.replace('★', '') 
    
    #unification of names
    data_cleaned['BP'] = data_cleaned['BP'].replace({'RB':'Defender', 'LB':'Defender', 'CB':'Defender', 'LWB' : 'Defender', 'RWB':'Defender'})
    data_cleaned['BP'] = data_cleaned['BP'].replace({'RW':'Midfielder', 'LW':'Midfielder', 'RM':'Midfielder', 'LM' : 'Midfielder', 'CDM':'Midfielder', 'CAM':'Midfielder','CM':'Midfielder'})
    data_cleaned['BP'] = data_cleaned['BP'].replace({'ST': 'Striker', 'CF': 'Striker'})
    
    #removing '+' and adding values
    def adding_values(x):
        x = str(x).split('+')
        if len(x) > 1:
            x = int(x[0]) + int(x[1])
        return x
                                                        
    columns_to_modify = ['LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW','LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM','CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'GK']
    
    for i in columns_to_modify:
        data_cleaned[i] = list(map(adding_values, data_cleaned[i]))
        
    return data_cleaned

data_cleaned = full_cleaning(data)

In [4]:
data_cleaned

,Age,BP,Growth,Value,Wage,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,26,Midfielder,1,525000.0,4000.0,258,54,47,43,70,...,60,60,60,59,55,55,55,59,16,64
1,30,Striker,0,8500000.0,23000.0,365,66,79,76,68,...,55,55,59,55,50,50,50,55,20,77
2,33,Midfielder,0,9000000.0,49000.0,336,73,76,34,78,...,58,58,61,55,43,43,43,55,14,80
3,22,Midfielder,13,275000.0,4000.0,242,44,42,58,62,...,60,60,58,59,60,60,60,59,16,59
4,23,Midfielder,8,725000.0,2000.0,249,49,37,61,68,...,66,66,66,65,63,63,63,65,17,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11695,29,Striker,0,550000.0,500.0,290,36,72,65,57,...,47,47,48,46,45,45,45,46,21,65
11696,25,Defender,5,625000.0,3000.0,224,62,24,51,59,...,62,62,65,65,63,63,63,65,18,65
11697,27,GK,4,1600000.0,4000.0,84,12,14,13,29,...,28,28,27,26,28,28,28,26,71,70
11698,22,Midfielder,8,1100000.0,2000.0,286,64,66,51,64,...,46,46,51,47,37,37,37,47,19,67
11700,22,Midfielder,9,700000.0,2000.0,289,43,64,65,64,...,45,45,48,46,38,38,38,46,17,64

In [5]:
numeric_columns = data_cleaned.select_dtypes(include=['number'])
print("Numerical:")
print(numeric_columns.columns)

Numerical:
Index(['Age', 'Growth', 'Value', 'Wage', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'PAC', 'SHO', 'PAS', 'DRI', 'DEF', 'PHY', 'Hits', 'LS',
       'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM',
       'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB',
       'LCB', 'CB', 'RCB', 'RB', 'GK', 'OVA'],
      dtype='object')

In [6]:
non_numeric_columns = data_cleaned.select_dtypes(exclude=['number'])
print("non numeric:")
print(non_numeric_columns.columns)

non numeric:
Index(['BP', 'W/F', 'SM', 'A/W', 'D/W', 'IR'], dtype='object')

In [7]:

for column in non_numeric_columns.columns:
    unique_values = data_cleaned[column].unique()
    print(f"Unique values for: '{column}':")
    print(unique_values)
    print("\n" + "="*50 + "\n")

Unique values for: 'BP':
['Midfielder' 'Striker' 'Defender' 'GK']

==================================================

Unique values for: 'W/F':
['4 ★' '3 ★' '2 ★' '5 ★' '1 ★']

==================================================

Unique values for: 'SM':
['2★' '4★' '3★' '1★' '5★']

==================================================

Unique values for: 'A/W':
['High' 'Medium' 'Low']

==================================================

Unique values for: 'D/W':
['Medium' 'Low' 'High']

==================================================

Unique values for: 'IR':
['1 ★' '2 ★' '3 ★' '4 ★' '5 ★']

==================================================

In [8]:
non_numeric_columns.columns

Index(['BP', 'W/F', 'SM', 'A/W', 'D/W', 'IR'], dtype='object')

In [9]:
data_cleaned.isna().sum()

Age       0
BP        0
Growth    0
Value     0
Wage      0
         ..
CB        0
RCB       0
RB        0
GK        0
OVA       0
Length: 88, dtype: int64

In [10]:
data_cleaned.dtypes

Age         int64
BP         object
Growth      int64
Value     float64
Wage      float64
           ...
CB          int64
RCB         int64
RB          int64
GK          int64
OVA         int64
Length: 88, dtype: object

In [11]:
data_cleaned.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,11422.0,2.515558e+01,4.872713e+00,16.0,21.00,25.0,29.0,43.0
Growth,11422.0,5.593241e+00,5.824869e+00,0.0,0.00,4.0,10.0,26.0
Value,11422.0,2.584324e+06,5.317007e+06,0.0,375000.00,800000.0,2500000.0,90000000.0
Wage,11422.0,1.031218e+04,2.116123e+04,0.0,1000.00,3000.0,10000.0,560000.0
Attacking,11422.0,2.581143e+02,7.221661e+01,42.0,231.25,271.0,305.0,437.0
...,...,...,...,...,...,...,...,...
CB,11422.0,5.490159e+01,1.440434e+01,18.0,45.00,57.0,66.0,89.0
RCB,11422.0,5.490159e+01,1.440434e+01,18.0,45.00,57.0,66.0,89.0
RB,11422.0,5.620776e+01,1.353551e+01,15.0,49.00,59.0,66.0,86.0
GK,11422.0,2.273218e+01,1.451268e+01,11.0,17.00,18.0,20.0,91.0
OVA,11422.0,6.687664e+01,6.845047e+00,45.0,62.00,67.0,72.0,93.0

In [12]:
data_cleaned.columns

Index(['Age', 'BP', 'Growth', 'Value', 'Wage', 'Attacking', 'Crossing',
       'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill',
       'Dribbling', 'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control',
       'Movement', 'Acceleration', 'Sprint Speed', 'Agility', 'Reactions',
       'Balance', 'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength',
       'Long Shots', 'Mentality', 'Aggression', 'Interceptions', 'Positioning',
       'Vision', 'Penalties', 'Composure', 'Defending', 'Marking',
       'Standing Tackle', 'Sliding Tackle', 'Goalkeeping', 'GK Diving',
       'GK Handling', 'GK Kicking', 'GK Positioning', 'GK Reflexes',
       'Total Stats', 'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC',
       'SHO', 'PAS', 'DRI', 'DEF', 'PHY', 'Hits', 'LS', 'ST', 'RS', 'LW', 'LF',
       'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM',
       'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'GK',
       'OVA'],
      dtype='object')

In [13]:
#import seaborn as sns
#import matplotlib.pyplot as plt

In [14]:
#sns.barplot(y='OVA', x='BP', data=data_cleaned)

In [15]:
#sns.barplot(y='Strength', x='Age', data=data_cleaned)

In [16]:
#sns.barplot(y='Acceleration', x='Age', data=data_cleaned)

In [17]:
#sns.barplot(y='Value', x='OVA', data=data_cleaned)

In [18]:
categorical = data_cleaned.select_dtypes(include=object)
numerical = data_cleaned.select_dtypes(include=np.number)

In [19]:
#for column in numerical.columns:
#    sns.displot(numerical[column],kde=True)
#    plt.show()

In [20]:
correlations = numerical.corr()
correlations

,Age,Growth,Value,Wage,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
Age,1.000000,-0.864768,0.107826,0.194779,0.188316,0.156740,0.107457,0.173028,0.180768,0.184972,...,0.221769,0.221769,0.158508,0.155980,0.202474,0.202474,0.202474,0.155980,0.152881,0.517065
Growth,-0.864768,1.000000,-0.191092,-0.232974,-0.280575,-0.252235,-0.189307,-0.228301,-0.271896,-0.250887,...,-0.294535,-0.294535,-0.255553,-0.243793,-0.257416,-0.257416,-0.257416,-0.243793,-0.087543,-0.599993
Value,0.107826,-0.191092,1.000000,0.829477,0.289213,0.251425,0.231092,0.166929,0.327850,0.255782,...,0.281198,0.281198,0.277371,0.253981,0.210652,0.210652,0.210652,0.253981,0.051607,0.642894
Wage,0.194779,-0.232974,0.829477,1.000000,0.280217,0.240083,0.207146,0.193164,0.311045,0.244894,...,0.277723,0.277723,0.263646,0.245971,0.220472,0.220472,0.220472,0.245971,0.030995,0.580934
Attacking,0.188316,-0.280575,0.289213,0.280217,1.000000,0.842814,0.879111,0.706844,0.881272,0.898262,...,0.648238,0.648238,0.720487,0.651129,0.499404,0.499404,0.499404,0.651129,-0.739751,0.432392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CB,0.202474,-0.257416,0.210652,0.220472,0.499404,0.506435,0.117082,0.698198,0.672187,0.201969,...,0.961806,0.961806,0.914098,0.952819,1.000000,1.000000,1.000000,0.952819,-0.568730,0.377735
RCB,0.202474,-0.257416,0.210652,0.220472,0.499404,0.506435,0.117082,0.698198,0.672187,0.201969,...,0.961806,0.961806,0.914098,0.952819,1.000000,1.000000,1.000000,0.952819,-0.568730,0.377735
RB,0.155980,-0.243793,0.253981,0.245971,0.651129,0.706027,0.294231,0.663381,0.796786,0.360978,...,0.982302,0.982302,0.991808,1.000000,0.952819,0.952819,0.952819,1.000000,-0.667407,0.409198
GK,0.152881,-0.087543,0.051607,0.030995,-0.739751,-0.630590,-0.562148,-0.698770,-0.691789,-0.554261,...,-0.621417,-0.621417,-0.692949,-0.667407,-0.568730,-0.568730,-0.568730,-0.667407,1.000000,0.100928
OVA,0.517065,-0.599993,0.642894,0.580934,0.432392,0.390126,0.306170,0.300564,0.492056,0.360874,...,0.463707,0.463707,0.436263,0.409198,0.377735,0.377735,0.377735,0.409198,0.100928,1.000000

In [21]:
#fig, ax=plt.subplots(figsize=(15,10))
#ax=sns.heatmap(numerical.corr(), annot=True)
#plt.show()

In [22]:
###################################################################################

In [23]:
X=data_cleaned.drop('OVA', axis=1)     
y=data_cleaned['OVA']

X

,Age,BP,Growth,Value,Wage,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
0,26,Midfielder,1,525000.0,4000.0,258,54,47,43,70,...,60,60,60,60,59,55,55,55,59,16
1,30,Striker,0,8500000.0,23000.0,365,66,79,76,68,...,55,55,55,59,55,50,50,50,55,20
2,33,Midfielder,0,9000000.0,49000.0,336,73,76,34,78,...,58,58,58,61,55,43,43,43,55,14
3,22,Midfielder,13,275000.0,4000.0,242,44,42,58,62,...,60,60,60,58,59,60,60,60,59,16
4,23,Midfielder,8,725000.0,2000.0,249,49,37,61,68,...,66,66,66,66,65,63,63,63,65,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11695,29,Striker,0,550000.0,500.0,290,36,72,65,57,...,47,47,47,48,46,45,45,45,46,21
11696,25,Defender,5,625000.0,3000.0,224,62,24,51,59,...,62,62,62,65,65,63,63,63,65,18
11697,27,GK,4,1600000.0,4000.0,84,12,14,13,29,...,28,28,28,27,26,28,28,28,26,71
11698,22,Midfielder,8,1100000.0,2000.0,286,64,66,51,64,...,46,46,46,51,47,37,37,37,47,19
11700,22,Midfielder,9,700000.0,2000.0,289,43,64,65,64,...,45,45,45,48,46,38,38,38,46,17

In [24]:
X_num1 = X.select_dtypes(np.number)
X_cat1 = X.select_dtypes(object)

In [25]:
X_num1.shape

(11422, 81)

In [26]:
X_num=X._get_numeric_data()
X_cat=X.drop(columns=X_num.columns)

print (X.shape, X_num.shape, X_cat.shape)

(11422, 87) (11422, 81) (11422, 6)

In [27]:
X_num.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,11422.0,2.515558e+01,4.872713e+00,16.0,21.00,25.0,29.0,43.0
Growth,11422.0,5.593241e+00,5.824869e+00,0.0,0.00,4.0,10.0,26.0
Value,11422.0,2.584324e+06,5.317007e+06,0.0,375000.00,800000.0,2500000.0,90000000.0
Wage,11422.0,1.031218e+04,2.116123e+04,0.0,1000.00,3000.0,10000.0,560000.0
Attacking,11422.0,2.581143e+02,7.221661e+01,42.0,231.25,271.0,305.0,437.0
...,...,...,...,...,...,...,...,...
LCB,11422.0,5.490159e+01,1.440434e+01,18.0,45.00,57.0,66.0,89.0
CB,11422.0,5.490159e+01,1.440434e+01,18.0,45.00,57.0,66.0,89.0
RCB,11422.0,5.490159e+01,1.440434e+01,18.0,45.00,57.0,66.0,89.0
RB,11422.0,5.620776e+01,1.353551e+01,15.0,49.00,59.0,66.0,86.0
GK,11422.0,2.273218e+01,1.451268e+01,11.0,17.00,18.0,20.0,91.0

In [28]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [29]:
transformer = MinMaxScaler().fit(X_num)
X_norm = transformer.transform(X_num)
print(X_norm.shape)
X_num_scale = pd.DataFrame(X_norm, columns=X_num.columns)
X_num_scale.head()

(11422, 81)

,Age,Growth,Value,Wage,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
0,0.370370,0.038462,0.005833,0.007143,0.546835,0.545455,0.478261,0.431818,0.710843,0.465116,...,0.591549,0.591549,0.591549,0.619718,0.619718,0.521127,0.521127,0.521127,0.619718,0.0625
1,0.518519,0.000000,0.094444,0.041071,0.817722,0.681818,0.826087,0.806818,0.686747,0.837209,...,0.521127,0.521127,0.521127,0.605634,0.563380,0.450704,0.450704,0.450704,0.563380,0.1125
2,0.629630,0.000000,0.100000,0.087500,0.744304,0.761364,0.793478,0.329545,0.807229,0.825581,...,0.563380,0.563380,0.563380,0.633803,0.563380,0.352113,0.352113,0.352113,0.563380,0.0375
3,0.222222,0.500000,0.003056,0.007143,0.506329,0.431818,0.423913,0.602273,0.614458,0.372093,...,0.591549,0.591549,0.591549,0.591549,0.619718,0.591549,0.591549,0.591549,0.619718,0.0625
4,0.259259,0.307692,0.008056,0.003571,0.524051,0.488636,0.369565,0.636364,0.686747,0.348837,...,0.676056,0.676056,0.676056,0.704225,0.704225,0.633803,0.633803,0.633803,0.704225,0.0750

In [30]:
from sklearn.preprocessing import OneHotEncoder

In [31]:
encoder = OneHotEncoder(drop='first').fit(X_cat)

cols = encoder.get_feature_names_out(input_features=X_cat.columns)

X_cat_encode = pd.DataFrame(encoder.transform(X_cat).toarray(),columns=cols)

X_cat_encode.head()

,BP_GK,BP_Midfielder,BP_Striker,W/F_2 ★,W/F_3 ★,W/F_4 ★,W/F_5 ★,SM_2★,SM_3★,SM_4★,SM_5★,A/W_Low,A/W_Medium,D/W_Low,D/W_Medium,IR_2 ★,IR_3 ★,IR_4 ★,IR_5 ★
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [32]:
X=pd.concat([X_num_scale, X_cat_encode], axis=1) 
X.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,11422.0,0.339095,0.180471,0.0,0.185185,0.333333,0.481481,1.0
Growth,11422.0,0.215125,0.224033,0.0,0.000000,0.153846,0.384615,1.0
Value,11422.0,0.028715,0.059078,0.0,0.004167,0.008889,0.027778,1.0
Wage,11422.0,0.018415,0.037788,0.0,0.001786,0.005357,0.017857,1.0
Attacking,11422.0,0.547125,0.182827,0.0,0.479114,0.579747,0.665823,1.0
...,...,...,...,...,...,...,...,...
D/W_Medium,11422.0,0.718351,0.449823,0.0,0.000000,1.000000,1.000000,1.0
IR_2 ★,11422.0,0.080546,0.272149,0.0,0.000000,0.000000,0.000000,1.0
IR_3 ★,11422.0,0.020837,0.142845,0.0,0.000000,0.000000,0.000000,1.0
IR_4 ★,11422.0,0.002977,0.054480,0.0,0.000000,0.000000,0.000000,1.0
IR_5 ★,11422.0,0.000350,0.018711,0.0,0.000000,0.000000,0.000000,1.0

In [33]:
from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test=tts(X, y, test_size=.2)

In [34]:
X_train

,Age,Growth,Value,Wage,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,...,SM_4★,SM_5★,A/W_Low,A/W_Medium,D/W_Low,D/W_Medium,IR_2 ★,IR_3 ★,IR_4 ★,IR_5 ★
9595,0.629630,0.000000,0.002444,0.005357,0.655696,0.602273,0.576087,0.659091,0.722892,0.558140,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2032,0.444444,0.000000,0.005000,0.003571,0.610127,0.659091,0.597826,0.431818,0.602410,0.616279,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2016,0.703704,0.000000,0.010556,0.025000,0.384810,0.238636,0.260870,0.750000,0.506024,0.139535,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
5014,0.222222,0.269231,0.094444,0.046429,0.736709,0.704545,0.619565,0.647727,0.819277,0.697674,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
8158,0.296296,0.230769,0.002111,0.001786,0.483544,0.409091,0.434783,0.568182,0.578313,0.348837,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6919,0.111111,0.692308,0.006111,0.001696,0.541772,0.500000,0.543478,0.454545,0.578313,0.523256,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
5990,0.148148,0.615385,0.013333,0.010714,0.096203,0.056818,0.054348,0.170455,0.289157,0.023256,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
6098,0.481481,0.038462,0.066667,0.035714,0.134177,0.102273,0.119565,0.102273,0.337349,0.104651,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
8129,0.037037,0.730769,0.001444,0.000893,0.448101,0.363636,0.510870,0.397727,0.506024,0.395349,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1957,0.296296,0.192308,0.008611,0.005357,0.637975,0.659091,0.521739,0.488636,0.734940,0.639535,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [35]:
y_train

9830    65
2081    64
2064    72
5139    75
8357    59
        ..
7095    61
6142    66
6252    76
8327    54
2004    66
Name: OVA, Length: 9137, dtype: int64

In [36]:
from sklearn.linear_model import LinearRegression as linreg

lm = linreg()    
lm.fit(X_train, y_train)  
y_pred = lm.predict(X_test)

In [37]:
print (f'train R2: {lm.score(X_train, y_train)}')  
print (f'test R2: {lm.score(X_test, y_test)}')

train R2: 0.9220137986554574
test R2: 0.923719228604754

In [38]:
from sklearn.metrics import mean_squared_error as mse


train_mse=mse(lm.predict(X_train), y_train)
test_mse=mse(y_pred, y_test)

print (f'train MSE: {train_mse}')
print (f'test MSE: {test_mse}')

train MSE: 3.6524232246090964
test MSE: 3.5768044028274084

In [39]:
print (f'train RMSE: {train_mse**.5}')
print (f'test RMSE: {test_mse**.5}')

train RMSE: 1.9111313990955976
test RMSE: 1.891244141518331

In [40]:
from sklearn.metrics import mean_absolute_error as mae

train_mae=mae(lm.predict(X_train), y_train)
test_mae=mae(y_pred, y_test)

print (f'train MAE: {train_mae}')
print (f'test MAE: {test_mae}')

train MAE: 1.490519135514195
test MAE: 1.469439808491049

In [41]:
data2 = pd.read_csv('fifa21_validate.csv')

data2

,ID,Name,Age,Nationality,Club,BP,Position,Team & Contract,Height,Weight,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,219461,E. Palmer-Brown,23,United States,FK Austria Wien,CB,CB,"FK Austria Wien Jun 30, 2021 On Loan","6'2""",194lbs,...,61+2,61+2,59+2,61+2,67+2,67+2,67+2,61+2,16+2,67
1,221896,D. Avdijaj,22,Kosovo,Heart of Midlothian,CAM,LM CAM,Heart of Midlothian 2020 ~ 2020,"5'8""",154lbs,...,47+2,47+2,49+2,45+2,38+2,38+2,38+2,45+2,17+2,68
2,247428,D. Ochoa,19,United States,Real Salt Lake,GK,GK,Real Salt Lake 2018 ~ 2020,"6'2""",176lbs,...,18+2,18+2,16+2,16+2,18+2,18+2,18+2,16+2,53+2,54
3,255120,N. Kenneh,16,England,Leeds United,CDM,CB CDM RB,Leeds United 2020 ~ 2022,"6'3""",170lbs,...,54+2,54+2,53+2,53+2,54+2,54+2,54+2,53+2,11+2,55
4,215556,E. Fernandes,24,Switzerland,1. FSV Mainz 05,CDM,CM CDM,1. FSV Mainz 05 2019 ~ 2023,"6'2""",170lbs,...,72+2,72+2,70+2,69+2,68+2,68+2,68+2,69+2,18+2,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,239074,S. Aw,21,Senegal,Gil Vicente FC,LB,LB,Gil Vicente FC 2020 ~ 2023,"5'8""",143lbs,...,52+2,52+2,58+2,58+2,54+2,54+2,54+2,58+2,15+2,60
1995,241223,S. Mogi,21,Japan,Cerezo Osaka,GK,GK,Cerezo Osaka 2017 ~ 2021,"6'5""",176lbs,...,23+2,23+2,20+2,20+2,22+2,22+2,22+2,20+2,58+2,59
1996,210930,Carles Gil,27,Spain,New England Revolution,RM,RM CAM CM,New England Revolution 2019 ~ 2024,"5'7""",146lbs,...,60+2,60+2,62+2,57+2,47+2,47+2,47+2,57+2,18+2,76
1997,162993,J. Perch,34,England,Mansfield Town,CDM,CDM RB CM,Mansfield Town 2020 ~ 2021,"5'11""",176lbs,...,62+1,62+1,60+2,60+2,63+0,63+0,63+0,60+2,14+2,63
1998,254882,A. Oeynhausen,18,Germany,SC Paderborn 07,CAM,CM,SC Paderborn 07 2020 ~ 2022,"5'10""",150lbs,...,55+2,55+2,55+2,54+2,51+2,51+2,51+2,54+2,16+2,60

In [42]:
data2_clean = full_cleaning(data2)

In [43]:
# Xy-split
X=data2_clean.drop('OVA', axis=1)     
y=data2_clean['OVA']

In [44]:
X_num = X.select_dtypes(np.number)
X_cat = X.select_dtypes(object)

In [45]:
#Scaling
#transformer = MinMaxScaler().fit(X_num)
X_norm = transformer.transform(X_num)
#print(X_norm.shape)
X_num_scale = pd.DataFrame(X_norm, columns=X_num.columns)

In [46]:
#Creating encoder

encoder = OneHotEncoder(drop='first').fit(X_cat)

cols = encoder.get_feature_names_out(input_features=X_cat.columns)

X_cat_encode = pd.DataFrame(encoder.transform(X_cat).toarray(),columns=cols)

In [47]:
#concat numerical and categorical transformations for features
X=pd.concat([X_num_scale, X_cat_encode], axis=1)

In [48]:
#Train Test Split

    #Concating DataFrames
#    X = pd.concat([x_numerical_s, onehot_encoded], axis=1)
#    X.columns = X.columns.astype(str)    ?????????????????????????????????

##############################
# Reset indeksów
#X = X.reset_index(drop=True)
#y = y.reset_index(drop=True)

# Reset indeksów tuż przed podziałem danych
#X_train, X_test, y_train, y_test = tts(X.reset_index(drop=True), y.reset_index(drop=True), test_size=0.2)

#X_train, X_test, y_train, y_test=tts(X, y, test_size=.2)

             X_val, y_val = df_clean(df_validate)

             #Predicting X val:
             predictions_val = lm.predict(X_val)
             r2_score(y_val, predictions_val)

In [49]:
#lm = linreg()    # model
#lm.fit(X_train, y_train)   # model training
#y_pred = lm.predict(X_test)   # model prediction    #y_pred = lm.predict(X_test) 


#Predicting X val:
predictions_val = lm.predict(X_val)
r2_score(y_val, predictions_val)

#MSE
mse=mean_squared_error(y_val,predictions_val)
print("MSE = ", mse)
#RMSE
rmse = np.sqrt(mean_squared_error(y_val,predictions_val))
print("RMSE = ", rmse)
#MAE
mae = mean_absolute_error(y_val,predictions_val)
print("MAE = ", mae)

In [50]:
#print (f'train R2: {lm.score(X_train, y_train)}')  
print (f'test R2: {lm.score(X_test, y_test)}')

test R2: 0.923719228604754

In [51]:
#train_mse=mse(lm.predict(X_train), y_train)
test_mse=mse(y_pred, y_test)

#print (f'train MSE: {train_mse}')
print (f'test MSE: {test_mse}')

test MSE: 3.5768044028274084

In [52]:
#train_mae=mae(lm.predict(X_train), y_train)
test_mae=mae(y_pred, y_test)

#print (f'train MAE: {train_mae}')
print (f'test MAE: {test_mae}')

test MAE: 1.469439808491049